*.log
*.fls
*.spl
*.synctex.gz
*.out
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.xdv
article.pdf
*.bib.sav
*.out
*.bib.bak
*.sublime-project
*.sublime-workspace
*.bib.sav

*.sublime-project
*.sublime-workspace
*.bib.bak
*.nlo